%p.show
  %strong Title:
  = @book.title
%p.show
  %strong Author:
  = @book.author
%p.show
  %strong Description:
  = @book.description
%p.show
  %strong URL:
  = @book.url
-# %h2 Comments
-# = render @article.comments
-# %h2 Add a comment:
-# = render 'comments/form'

- if @book.user == current_user
  = link_to 'Edit this book', edit_book_path(@book), :class => "editbutton"
%br
= link_to 'Back', books_path, :class => "backbutton"
